* {
    margin: 0px;
    padding: 0px;
}

#supercontededor {
    background: #ff0;
    height: 100vh;
}

#contenedor {
    width: 606px;
    height: 606px;
    background: #00f;
    margin: auto auto;
    vertical-align: middle;
}

#caja1, #caja2, #caja3,
#caja4, #caja5, #caja6,
#caja7, #caja8, #caja9 {
    width: 200px;
    height: 200px;
    background: #f00;
    float: left;
    border: 1px solid #ff0;
}

.limpiar {
    clear: both;
}