.container {
    height: 100vh;
    background: #abcdef;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr 1fr auto;
    
    grid-gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;

}


.celda {
    border-radius: 25px;
    background: #03f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #fff;
}

.titulo {
    grid-column: 1 / 5;
    grid-row: 1 / 2;

}

.imagen1 {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
}

.contenidoi {
    background: #09f;
    grid-column: 1 / 2;
}

.contenidod {
    background: #09f;
    grid-column: 3 / 4;
}
